body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  margin: 0;
  padding: 0;
}

div {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #2f3640;
}

h2 {
  margin-top: 30px;
  color: #353b48;
}

/* Lista */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Botones */

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #0097e6;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #40739e;
}

.reservation-info {
  flex: 1;
}

.actions {
  display: flex;
  gap: 10px;
}

.service-item {
  background: #fdfdfd;
  margin-bottom: 10px;
  padding: 12px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nombre */
.service-name {
  font-weight: 500;
  color: #2f3640;
}

/* Precio tipo "badge" */
.service-price {
  background-color: #0097e6;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}


.editing-banner {
  background-color: #ffeaa7;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.editing {
  border: 2px solid #fbc531;
  background-color: #fffbea;
}